extends layout

block content
  .container
    style.
      .text-maroon {
        color: maroon;
      }

    h1.text-center.font-weight-bold.mb-4.text-maroon Welcome to To-Do App
    p Pradisha's To-Do List

    h2 Tasks
    each task in tasks
      .task
        span.task-title= task.title
        form(action=`/todos/${task.id}`, method='GET' class='d-inline-block mr-2')
          button.btn.btn-primary(type='submit') View
        form(action=`/todos/${task.id}`, method='POST' class='d-inline-block')
          button.btn.btn-primary(type='submit') Update
          | &nbsp; <!-- Add a non-breaking space for gap -->
          input(type='hidden', name='_method', value='DELETE')
          button.btn.btn-danger(type='submit') Delete

    h2 New Task
    form.new-task-form(action='/todos', method='POST' class='new-task-form')
      .form-group
        label(for='title') Title:
        input.form-control(type='text', name='title', id='title')
      button.btn.btn-primary(type='submit') Add Task
