extends layout

block content
  .container
    style.
      body {
        background-color: black;
        color: white;
      }
      .pradisha-list {
        font-size: 24px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 10px; /* Set bottom margin after h2 to 10px */
      }
      .task {
        margin-bottom: 10px;
      }
      .gap {
        margin-bottom: 40px; /* Set gap between task 2 and new task to 40px */
      }

    h1.text-center.font-weight-bold.mb-4 Welcome to To-Do App
    p.pradisha-list Pradisha's To-Do List

    h2 Tasks
    each task in tasks
      .task
        span.task-title= task.title
        form(action=`/todos/${task.id}`, method='GET' class='d-inline-block mr-2')
          button.btn.btn-primary(type='submit') View
        form(action=`/todos/${task.id}`, method='POST' class='d-inline-block')
          button.btn.btn-primary(type='submit') Update
          | &nbsp;
          input(type='hidden', name='_method', value='DELETE')
          button.btn.btn-danger(type='submit') Delete

    .gap

    h2 New Task
    form.new-task-form(action='/todos', method='POST' class='new-task-form')
      .form-group(style='margin-bottom: 10px;') /* Set margin-bottom to 10px */
        label(for='title') Title:
        input.form-control(type='text', name='title', id='title')
      button.btn.btn-primary(type='submit') Add Task
